extends ../layout/default.pug
block content
    .container-fluid.px-0
        .g-0
            #banner(data-intro=JSON.stringify(translation.intro))
    .container.mb-5
        h2#about #{__('content.about.title')}
        p #{__('content.about.p1')}
        ul
            li #{__('content.about.l1')}
            li #{__('content.about.l2')}
        p #{__('content.about.p2')}
        p #{__('content.about.p3')}
        p #{__('content.about.p4')}
        p #{__('content.about.p5')}
        p !{__('content.about.p6', {link: '<a href=\"https://technovationchallenge.org/\" target=\"_blank\">technovationchallenge.org</a>'})}
    .container
        h2#contact #{__('content.contact.title')}
        .contact-form.card
            .card-body
                form(action="https://formsubmit.co/technovation.tm@gmail.com", method="POST")
                    label(for="name") #{__('content.contact.name')}
                    input.form-control.mb-2(type="text", id="name", name="name", required)
                    label(for="email") #{__('content.contact.email')}
                    input.form-control.mb-4(type="text", id="email", name="email", required)
                    textarea.form-control.mb-4(rows="7", id="message", name="message", placeholder=__('content.contact.message'))
                    button.form-control.btn.btn-warning(value="Submit", type="submit") #{__('content.contact.submit')}